@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
}

main {
  font-family: 'Josefin Sans', sans-serif;
}

.logo {
  position: absolute;
  top: 70px;
}

.left-side {
  background-image: url('./images/bg-pattern-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;

}

.info {
  width: 60%;
}

.right-side {
  height: 100vh;
  width: 100%;
}

.input-container {
  width: 600px;
}

.header-text {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 1rem;
  line-height: 1.2;
  width: 70%
}

.header-span {
  color: hsl(0, 36%, 70%);
  font-weight: 100;
  font-size: 4rem;
}

.text-body {
  color: hsl(0, 36%, 70%);
  font-size: 16px;
  width: 80%
}

.btn {

  width: 100px;
  border: none;
  background: linear-gradient(135deg,
      hsl(0, 80%, 86%) 0%,
      hsl(0, 74%, 74%) 100%);
  left: -100px;
}

.hero-image {
  height: 100%;
  width: auto;
}

.mobile-image {
  display: none;
}

#error-display {
  color: hsl(0, 93%, 68%);
  font-size: 0.8rem;
  margin-left: 15%;
}

#error-icon {
  height: 25px;
  z-index: 1;
  margin-right: 200px;
  visibility: hidden;
}

#success-display {
  color: rgb(60, 226, 60);
  font-size: 1rem;
}

@media (max-width: 600px) {
  .logo {
    position: absolute;
    top: 50px;
    left: 10px;
  }

  .hero-image {
    display: none;
  }

  .mobile-image {
    display: block;
    width: 100%;
    height: auto;
  }

  .info {
    width: 100%;
    margin-top: 30%;
  }

  .text-body {
    text-align: center;
    width: 90%;
  }

  .header-text {
    font-size: 2.5rem;
    padding: 0%;
    text-align: center;
    width: 100%
  }

  .header-span {
    font-size: 3rem;
  }

  .input-container {
    width: 420px;
  }

  .input {
    margin-left: 10%;
    font-size: 0.8rem;
  }

  #error-icon {
    top: -40px;
    left: 30px;
    visibility: hidden;
  }
}